* {
  margin: 0;
}

/*////////////////*/
/* Element styles */
/*////////////////*/

button {
  cursor: pointer;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-left: auto;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-left: 1.5rem;
  padding-top: 1.2rem;
}

h2 {
  font-size: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1.5rem;
  padding-right: 1.4rem;
  margin-bottom: 1rem;
}

header {
  display: block;
  width: 100%;
  margin-bottom: 5vh;
}

img {
  height: 1.2rem;
  padding-top: 0.2rem;
  vertical-align: text-bottom;
}

input {
  display: flex;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: auto;
  text-align: center;
  justify-content: center;
  float: center;
}

main {
  height: 100vh;
  overflow: hidden;
}

p {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

section {
  width: 50%;
}

select {
  width: 10rem;
  display: flex;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: auto;
  cursor: pointer;
}

/*//////////////*/
/* Class styles */
/*//////////////*/

.canvasArea {
  justify-content: center;
  border: none;
}


.centerParent {
  text-align: center;
  justify-content: center;
  padding-bottom: 1vw;
}

.color {
  width: 6rem;
  height: 6rem;
  border-radius: 0.3rem;
  display: inline-block;
}

.colorRow {
  display: block;
  width: 100%;
  height: 6rem;
  text-align: center;
}

.helvet {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.rotate {
  animation: rotateUpDown 3s infinite linear;
  display: inline-block;
  transform-origin: center;
}

.sectionParent {
  display: inline-flex;
  width: 100%;
}

.sketch {
  display: flex;
  justify-content: center;
}

/*////////////*/
/* Animations */
/*////////////*/

@keyframes rotateUpDown {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-1.7deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(1.7deg); }
  100% { transform: rotate(0deg); }
}